@model Pizzashop.Entity.ViewModel.CustomerDetailsVM;

<form class="w-100">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="CustomerId">
    <div class="row">
        <div class="mb-2">
            <div class="form-floating ">
                <input asp-for="Email" class="form-control" placeholder="Email*">
                <label asp-for="Email">Email*</label>
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="mb-2">
            <div class="form-floating ">
                <input asp-for="Name" class="form-control" placeholder="Email*">
                <label asp-for="Name">Name*</label>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="mb-2">
            <div class="form-floating ">
                <input asp-for="Phone" class="form-control" placeholder="Mobile Number*">
                <label asp-for="Phone">Mobile Number*</label>
            </div>
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>
    </div>
    <div class="row">
        <div class="col-md mb-2">
            <div class="form-floating">
                <input asp-for="NumberOfPerson" class="form-control" placeholder="No. of Person(s)*">
                <label asp-for="Phone">No. of Person(s)*</label>
            </div>
            <span asp-validation-for="NumberOfPerson" class="text-danger"></span>
        </div>
        <div class="col-md mb-2">
            <div class="  form-floating ">
                <select asp-for="SectionId" role="button" class="form-select dd-section"
                    data-current-section="@Model.SectionId">
                </select>
                <label for="section">Section*</label>
            </div>
            <span asp-validation-for="SectionId" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer border-0">
        <button type="submit" id="submit-btn" class="btn btn-primary bg-header rounded-1 mb-2 me-2">Assign</button>
        <button type="button" class="btn btn-secondary rounded-1 mb-2 reset-customer-detail"
            data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}