.sidebar .nav-link {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.nav-item span {
  color: black;
}

.nav-link.active,
.sidebar .nav-link:hover {
  background-color: rgba(var(--bs-secondary-color-rgb), 0.25);
  opacity: 25;
  span {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.nav-item:hover span {
  color: var(--primary-color);
  font-weight: bold;
}
