@model IEnumerable<Pizzashop.Entity.ViewModel.SectionVM>;

@{
    ViewData["Title"] = "Tables | OrderApp";
    Layout = "_OrderApp";
}
<!-- Waitng Token Modal -->
<div class="modal fade" id="waiting-token-modal" tabindex="-1" aria-labelledby="waiting-token-modal-label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title text-secondary fs-5" id="waiting-token-modal-label">Waiting Token Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="waiting-token-form" class="modal-body">
                <partial name="_CustomerDetails" model="new CustomerDetailsVM()" />
            </div>
        </div>
    </div>
</div>

@* Assign Offcanvas *@
<div class="offcanvas offcanvas-end" tabindex="-1" id="assign-table-offcanvas"
    aria-labelledby="assign-table-offcanvas-label">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-header" id="assign-table-offcanvas-label">Waiting List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scrope="row"></th>
                        <th scrope="row">ID</th>
                        <th scrope="row">Name</th>
                        <th scrope="row">No. of Persons</th>
                    </tr>
                </thead>
                <tbody id="waiting-list">
                </tbody>
            </table>
        </div>
        <div id="customer-details">
            <h5 class="text-header mb-2">Customer Details</h5>
            <div id="customer-details-form">
                <partial name="_CustomerDetails" model="new CustomerDetailsVM()" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center my-2">
    <h3 class="text-header fw-bold mb-2">Table View</h3>
    <div class="d-flex gap-3 flex-wrap">
        <span class="d-flex  align-items-center gap-2">
            <div class="status-indicator bg-secondary bg-opacity-50 rounded-circle"></div> Available
        </span>
        <span class="d-flex align-items-center gap-2">
            <div class="status-indicator border border-2 border-success border-opacity-50 rounded-circle"></div>
            Selected
        </span>
        <span class="d-flex align-items-center gap-2">
            <div class="status-indicator bg-success bg-opacity-50 rounded-circle"></div> Assigned
        </span>
        <span class="d-flex align-items-center gap-2">
            <div class="status-indicator bg-primary bg-opacity-50  rounded-circle"></div> Running
        </span>
    </div>
</div>

<partial name="_SectionList" />


@section Scripts {
    <script src="~/js/orderapp-tables.js"></script>
}