@model Pizzashop.Entity.ViewModel.LoginVM;

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password";
}

<h2 class="">Forgot Password</h2>
<p>Enter your email and we'll sent you link to reset your password.</p>
<form asp-action="ForgotPassword" method="post" class="d-flex flex-column justify-content-between gap-1 w-100 ">
    <div class="mb-2">
        <div class="input-group">
            <div class="form-floating">
                <input asp-for="Email" placeholder="Email*" class="form-control ">
                <label asp-for="Email">Email*</label>
            </div>
            <span class="input-group-text">
                <img src="~/images/icons/customer.svg" alt="">
            </span>
        </div>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
    <a asp-action="Index" class="text-center text-decoration-none">Back to Login</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $(".text-danger").text('');
            $(".text-danger").parent().find("input").removeClass('input-validation-error');
        })
    </script>
}
