@model Pizzashop.Entity.ViewModel.ResetPasswordVM;

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset Password";
}

<h2 class="">Reset Your Password</h2>
<form asp-action="ResetPassword" method="post" class="d-flex flex-column justify-content-between gap-1 w-100 ">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="Token">
    <div class="form-group mb-2">
        <div class="input-group">
            <div class="form-floating">
                <input type="password" asp-for="Password" placeholder="New Password*" class="form-control off"
                    onpaste="return false;">
                <label asp-for="Password">New Password*</label>
            </div>
            <span class="input-group-text eye" role="button"><img src="~/images/icons/eye.svg" alt=""
                    width="20px"></span>
            <span class="input-group-text d-none eye" role="button"><img src="~/images/icons/eye-on.svg" alt=""
                    width="20px"></span>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <div class="input-group">
            <div class="form-floating">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password*"
                    class="form-control off" onpaste="return false;">
                <label asp-for="ConfirmPassword">Confirm Password*</label>
            </div>
            <span class="input-group-text eye" role="button"><img src="~/images/icons/eye.svg" alt=""
                    width="20px"></span>
            <span class="input-group-text d-none eye" role="button"><img src="~/images/icons/eye-on.svg" alt=""
                    width="20px"></span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="text-decoration-none text-center" asp-action="Index">Back to Login</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $(".eye").click(function (e) {
                $(this).parent().find(".eye").removeClass("d-none");
                $(this).addClass("d-none");
                var type;
                var input = $(this).parent().find('input');
                if (input.hasClass("on")) {
                    type = "password"
                    input.removeClass("on").addClass("off");
                } else {
                    type = "text"
                    input.removeClass("off").addClass("on");
                }
                input.attr('type', type);

            });
        })
    </script>
}
